@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --clr-primary-100: 13, 75%, 58%;
  --clr-primary-200: 21, 86%, 67%;
  --clr-mdn-text: 222, 9%, 78%;
  --clr-prview-text-prmry: 0, 0%, 100%;
  --clr-prview-text-scndry: 222, 9%, 78%;
  --clr-prview-highlight: 220, 7%, 18%;
  --clr-base-bg: 225, 9%, 9%;
  --clr-titlebar-bg: 216, 8%, 12%;
  --clr-titlebar-text: 222, 9%, 78%;
  --clr-dialog-bg: 216, 8%, 12%;
  --clr-dialog-title: 0, 0%, 100%;
  --clr-dialog-desc: 222, 9%, 78%;
  --clr-dialog-backdrop: 216, 4%, 51%, 0.5;
  --clr-editor-bg: 225, 9%, 9%;
}

.light {
  --clr-primary-100: 13, 75%, 58%;
  --clr-primary-200: 21, 86%, 67%;
  --clr-mdn-text: 216, 9%, 23%;
  --clr-prview-text-prmry: 216, 9%, 23%;
  --clr-prview-text-scndry: 216, 4%, 51%;
  --clr-prview-highlight: 0, 0%, 96%;
  --clr-base-bg: 0, 0%, 100%;
  --clr-titlebar-bg: 0, 0%, 96%;
  --clr-titlebar-text: 216, 4%, 51%;
  --clr-dialog-bg: 0, 0%, 100%;
  --clr-dialog-title: 216, 9%, 23%;
  --clr-dialog-desc: 216, 4%, 51%;
  --clr-dialog-backdrop: 225, 9%, 9%, 0.5;
  --clr-editor-bg: 0, 0%, 100%;
}
